body,
html {
  margin: 0;
  padding: 0; /* Causes zoom-in */
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}
* {
  -webkit-tap-highlight-color: transparent;
}
.nav {
  margin-right: 0;

  background-color: #1e2d40;
  position: fixed;
  top: 0;
  display: flex;
  width: 90%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 16px 5%;
  z-index: 999;
  box-shadow: 0px 0 30px rgba(17, 21, 30, 0.08);
}

.nav img {
  max-height: 60px;
  object-fit: cover;
  cursor: pointer;
}

.nav-part2 ul {
  list-style: none;
}

.nav-part2 ul li {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-size: 1.1vw;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.dropdown1 {
  display: block;
  position: absolute;
  width: 150px;
  box-shadow: 0px 0 30px rgba(17, 21, 30, 0.08);
  border-radius: 15px;
  background-color: #fff;
  visibility: hidden;
}

.dropdown1 ul {
  margin: 0;
  padding-left: 10px;
  margin-left: -10px;
}
.dropdown1 ul li {
  display: block;
  cursor: pointer;
}

a {
  text-decoration: none;
  text-transform: none;
  color: black;
}

.nav-part2 ul li:nth-child(1):hover .dropdown1 {
  visibility: visible;
}

.dropdown2 {
  display: block;
  position: absolute;
  width: 150px;
  box-shadow: 0px 0 30px rgba(17, 21, 30, 0.08);
  border-radius: 15px;
  background-color: #fff;
  visibility: hidden;
}
.dropdown2 ul {
  margin: 0;
  padding-left: 10px;
  margin-left: -10px;
}
.dropdown2 ul li {
  display: block;
  cursor: pointer;
}

.nav-part2 ul li:nth-child(2):hover .dropdown2 {
  visibility: visible;
}

/* end of nav */

.mobile-nav {
  height: auto;
  width: 450px;
  /* border: 2px solid black; */
  display: block;
  position: absolute;
  top: 120px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border-radius: 10px;

  box-shadow: 0px 0 30px rgba(17, 21, 30, 0.08);
  transition: 0.5s;
  height: fit-content;
  display: none;
}

.mobile-nav ul {
  margin: 0;
  list-style: none;
}

.mobile-nav ul li {
  font-weight: 700;
  width: 90%;
  height: auto;
  line-height: 2;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  color: #1e2d40;
}

.mob-dropdown1 {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  display: none;
}

a {
  text-decoration: none;
  text-transform: none;
  color: black;
}

.mob-dropdown2 {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  display: none;
}

.button {
  display: none;
}
.button #menu {
  display: none;
}
.button #close {
  display: none;
}

@media (max-width: 800px) {
  [data-aos] {
    opacity: 1 !important; /* Set opacity to fully visible */
    transform: none !important; /* Remove transformation */
    transition: none !important; /* Disable animation transitions */
  }
  .nav {
    padding: 8px 2vw;
    color: white;
    z-index: 999;
    width: 97%;
    height: 45px;
    display: flex;
    justify-content: space-between;
  }

  .nav img {
    margin-left: 13px;
    height: 13vw;
    max-height: 60px;
  }
  .nav-part2 {
    display: none;
  }

  .button {
    display: block;
    color: black;
    font-size: 2vw;
    font-weight: 600;
  }
  .button #menu {
    font-weight: 500;
    display: block;
    font-size: 2rem;
  }
  .button #close {
    display: none;
    font-size: 1.5rem;
  }
  .mobile-nav {
    height: auto;
    width: 96vw;
    margin-top: -75px;

    position: fixed;
    top: 120px;
    right: 15px;
    bottom: 15px;
    left: 2vw;
    z-index: 999;
    border-radius: 15px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    height: fit-content;
    display: none;
  }

  .mobile-nav ul {
    margin-left: 0;
    list-style: none;
  }

  .mobile-nav ul li {
    font-weight: 500;
    width: 95%;
    height: auto;

    font-size: 1.3rem;
    cursor: pointer;

    color: #1e2d40;
  }

  .mob-dropdown1 {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    display: none;
  }

  .mob-dropdown2 {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    display: none;
  }
}

/* end of mobile nav */
/* ---------------------------------------------------------------------------------- */

.content-1 {
  margin-top: 130px;
  width: 100%;
  height: 80%;
}

.content-1 .row {
  margin: 180px 70px 100px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-1 .row #div-1 {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.content-1 .row #div-1 h1 {
  font-weight: 700;
  color: #1e2d40;
  font-size: 2.5vw;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  text-align: left;
}
.content-1 .row #div-1 p {
  font-weight: 500;
  color: #1e2d40;
  font-size: 1.4vw;
  text-wrap: wrap;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.content-1 .row #div-2 {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-1 .row #div-2 img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .content-1 {
    height: auto;
    margin: 0;
  }
  .content-1 .row {
    margin: 100px 20px 50px 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .content-1 .row #div-1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-1 .row #div-1 h1 {
    font-weight: 700;
    color: #1e2d40;
    font-size: 1.6em;
    text-align: center;
  }
  .content-1 .row #div-1 p {
    font-weight: 500;
    color: #1e2d40;
    font-size: 1.1em;
    text-align: center;
    margin: 0;
  }

  .content-1 .row #div-2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-1 .row #div-2 img {
    width: 70%;
    height: 100%;
    object-fit: cover;
  }
}

/* end of content-1 */

.content-2 {
  margin-top: 250px;
  width: 100%;
  height: 80%;
}

.content-2 .heading h2 {
  text-align: center;
  color: #1e2d40;
  font-weight: 500;
  font-size: 1.1vw;
}

.content-2 .heading h1 {
  font-weight: 700;
  text-align: center;
  color: #1e2d40;
  font-size: 2.5vw;
  margin-top: 0;
}
.content-2 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content-2 .row .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  width: 700px;
  line-height: 1;
  height: 100%;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;

  padding: 15px 15px !important;
  transition: 0.3s;
  /* transition-delay: 0.1s; */
}

.content-2 .row .service-box #icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.content-2 .row .service-box h3 {
  color: #444444;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  font-size: calc(1.3rem + 0.6vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  transition: 0.3s;

  line-height: 1.2;
  margin-bottom: 20px;
}

.content-2 .row .service-box p {
  font-size: medium;
  font-weight: 500;
  margin-bottom: 20px;
  transition: 0.3s;
}

.content-2 .row .service-box a {
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.content-2 .row .service-box #arrow {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.asp-border-bottom {
  border-bottom: 3px solid #1e2d40 !important;
}

.icon {
  color: #1e2d40;
  background: #d1e4ff;
}

.read-more {
  color: #1e2d40;
}

.content-2 .row .service-box:hover {
  background: #1e2d40;
}

.content-2 .row .service-box:hover #icon {
  background-color: #fff;
}

.content-2 .row .service-box:hover a {
  color: white;
}
.content-2 .row .service-box:hover h3 {
  color: white;
}
.content-2 .row .service-box:hover p {
  color: white;
}
.content-2 .row .service-box:hover #icon {
  background-color: #fff;
}

.content-2 .row .service-box:hover a {
  color: white;
}
.content-2 .row .service-box:hover h3 {
  color: white;
}
.content-2 .row .service-box:hover p {
  color: white;
}

@media (max-width: 800px) {
  .content-2 {
    height: auto;
    width: 100%;
  }

  .content-2 .heading h2 {
    text-align: center;
    color: #1e2d40;
    font-weight: 500;
    font-size: 1em;
  }

  .content-2 .heading h1 {
    font-weight: 700;
    text-align: center;
    color: #1e2d40;
    font-size: 1.5em;
    margin-top: 0;
  }
}

/* end of content-2 */

.content-3 {
  margin-top: 170px;
  width: 100%;
  height: 80%;
}

.content-3 .heading h2 {
  text-align: center;
  color: #1e2d40;
  font-weight: 500;
  font-size: 1.1vw;
}

.content-3 .heading h1 {
  font-weight: 700;
  text-align: center;
  color: #1e2d40;
  font-size: 2.5vw;
  margin-top: 0;
}
.content-3 .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 100px 0 100px;
}

.content-3 .row .div-1 {
  width: 40%;
}
.content-3 .row .div-1 img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.content-3 .row .div-2 {
  width: 50%;
}
.content-3 .row .div-2 p {
  font-size: 1.3vw;
  font-weight: 500;
  width: 100%;
}

.content-3 .row .div-2 li {
  font-size: 1.1vw;
}

@media (max-width: 800px) {
  .content-3 {
    margin-top: 130px;
  }
  .content-3 .heading h2 {
    text-align: center;
    color: #1e2d40;
    font-weight: 500;
    font-size: 1em;
  }
  .content-3 .heading h1 {
    font-weight: 700;
    text-align: center;
    color: #1e2d40;
    font-size: 1.5em;
    margin-top: 0;
  }
  .content-3 .row {
    margin: 0;
    flex-wrap: wrap;
  }

  .content-3 .row .div-1 {
    width: 100%;
  }
  .content-3 .row .div-1 img {
    width: 100%;
  }

  .content-3 .row .div-2 {
    width: 100%;
  }

  .content-3 .row .div-2 p {
    width: 100%;
    font-size: 1.2em;
    font-weight: 600;
    color: #1e2d40;
    line-height: 1.5;
    text-wrap: wrap;
    margin-left: 10px;
  }

  .content-3 .row .div-2 li {
    font-size: 1.2em;
  }
}

/* end of content-3 */

.content-4 {
  margin-top: 100px;
  width: 100%;
  height: 80%;
}

.content-4 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 50px 0px 50px;
  align-items: center;
  column-gap: 30px;
}
.content-4 .row .box {
  width: 300px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.content-4 .row .box img {
  width: auto;
  height: 50px;
}

.content-4 .row .box h4 {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 500;
  line-height: 1.2;
}

@media (max-width: 800px) {
  .content-4 .row {
    margin: 15px;
  }
  .content-4 .row .box {
    width: 100%;
  }
}

/* end of content-4  */

.content-5 {
  margin-top: 170px;
  width: 100%;
  height: 80%;
}

.content-5 .heading h2 {
  text-align: center;
  color: #1e2d40;
  font-weight: 500;
  font-size: 1.1vw;
}

.content-5 .heading h1 {
  font-weight: 700;
  text-align: center;
  color: #1e2d40;
  font-size: 2.5vw;
  margin-top: 0;
}

.content-5 .row {
  margin: 50px 50px 50px 50px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  align-self: center;
  gap: 30px;
}
.content-5 .row .div-1 {
}

.content-5 .row .div-1 .one {
  display: flex;
}

.content-5 .row .div-1 i {
  font-size: 40px;
  line-height: 44px;
  color: #0245bc;
  margin-right: 15px;
}

.content-5 .row .div-1 .one div h4 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #1e2d40;
}
.content-5 .row .div-1 .one div p {
  font-size: 18px;
  color: #848484;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .content-5 {
    /* margin-top: 130px; */
  }
  .content-5 .heading h2 {
    text-align: center;
    color: #1e2d40;
    font-weight: 500;
    font-size: 1em;
  }
  .content-5 .heading h1 {
    font-weight: 700;
    text-align: center;
    color: #1e2d40;
    font-size: 1.5em;
    margin-top: 0;
  }
  .content-5 .row {
    margin: 50px 30px 50px 30px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    align-self: center;
    gap: 30px;
  }

  .content-5 .row .div-1 {
    display: flex;
  }

  .content-5 .row .div-1 .one {
    display: flex;
  }

  .content-5 .row .div-1 i {
    font-size: 40px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
  }

  .content-5 .row .div-1 .one div h4 {
    font-size: 1.1em;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #1e2d40;
  }
  .content-5 .row .div-1 .one div p {
    font-size: 15px;
    color: #848484;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

/* end of content-5 */

.content-6 {
  width: 100%;
  height: 80%;
}

.content-6 .row {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 10px 50px;
  flex-wrap: wrap;
}

.content-6 .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 80px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.content-6 .box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  font-weight: 500;
}

.content-6 .box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0b198f;
}

.content-6 .box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

.icon1 {
  color: #1e2d40;
}

.icon2 {
  color: #dc3545;
}

.icon3 {
  color: #28a745;
}

.icon4 {
  color: #ff9800;
}

@media (max-width: 800px) {
  .content-6 {
    height: auto;
    width: 97%;
  }

  .content-6 .box {
    padding: 40px 50px;
  }
}

/* end of content-6 */

.content-7 {
  margin-top: 130px;
  width: 100%;
  height: 80%;
}

.content-7 .row {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-7 .heading h2 {
  text-align: center;
  color: #1e2d40;
  font-weight: 500;
  font-size: 1.2vw;
}

.content-7 .heading h1 {
  font-weight: 700;
  text-align: center;
  color: #1e2d40;
  font-size: 2.5vw;
  margin-top: 0;
}

.main {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0 15px rgb(1 41 112 / 8%);
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
  align-self: center;
}

.main h1 {
  font-weight: 500;
  transition: all 0.5s;
  font-size: 20px !important;
  margin: 0;
}

.main #icon-1 {
  color: #082d0f;
}

.main #icon-2 {
  font-weight: 700;
  float: right;
}

.main p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s;
  opacity: 0;
}

p.show {
  max-height: 500px; /* Adjust based on content */
  opacity: 1;
}

@media (max-width: 800px) {
  .content-7 {
    height: auto;
    width: 99%;
  }

  .content-7 .heading h2 {
    text-align: center;
    color: #1e2d40;
    font-weight: 500;
    font-size: 0.9em;
  }
  .content-7 .heading h1 {
    font-weight: 700;
    text-align: center;
    color: #1e2d40;
    font-size: 1.5em;
    margin-top: 0;
  }

  .main #icon-2 {
    display: none;
  }
}

/* end of content-7 */

.content-8 {
  margin-top: 100px;
  width: 100%;
  height: 80%;
}

.content-8 .row {
  display: flex;
  margin: 50px;
  gap: 10px;
}

.content-8 .row .div-1 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content-8 .row .div-1 .img {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  height: 180px;
  width: 300px;
  max-width: 100%;
}

.content-8 .row img {
  width: 100%;
  object-fit: cover;
}

.margin-top {
  margin-top: 40px;
}

.content-8 .row .div-2 {
  width: 50%;
}

.content-8 .row .div-2 .heading h5 {
  color: #1e2d40;
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

.content-8 .row .div-2 .heading h2 {
  font-size: 40px !important;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  color: #1e2d40 !important;
  font-family: "Nunito", sans-serif !important;
  margin: 0;
}

.content-8 .row .div-2 .heading p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.content-8 .row .div-2 ul {
  list-style-type: none;
  margin-top: 40px;
  margin-left: 0;
  color: #1e2d40;
  padding-left: 0;
  margin-bottom: 1rem;
}

.content-8 .row .div-2 li {
  display: flex;
  gap: 10px;
  text-align: -webkit-match-parent;
  color: #1e2d40;
  position: relative;
  margin-bottom: 30px;
}

.content-8 .row .div-2 li i {
  font-size: 2rem;
}

.content-8 .row .div-2 li .div {
  display: flex;
  flex-direction: column;
}

.content-8 .row .div-2 ul li h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.content-8 .row .div-2 ul li p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.content-8 .row .div-2 .btn a {
  color: #fff;
}
.content-8 .row .div-2 .btn {
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #1e2d40;
  cursor: pointer;
  padding: 20px 30px;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.content-8 .row .div-2 .btn span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.content-8 .row .div-2 .btn i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .content-8 {
    height: auto;
    width: 97%;
  }

  .content-8 .row {
    flex-direction: column;
    margin: 50px 10px;
    justify-content: space-between;
    align-items: center;
  }

  .content-8 .row .div-1 {
    width: 100%;
    display: flex;
    margin: 0;
  }

  .content-8 .row .div-1 .img {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
    width: 45%;
    gap: 0;
    height: 100px;
    max-width: 100%;
  }

  .content-8 .row .div-1 img {
    height: 100%;
    object-fit: cover;
  }

  .content-8 .row .div-2 {
    width: 100%;
  }

  .content-8 .row .div-2 .heading h5 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .content-8 .row .div-2 .heading h2 {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    margin-bottom: 5px;
  }

  .content-8 .row .div-2 .heading p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
  }
}

/* end of content-8 */

.content-9 {
  width: 100%;
  height: auto;
  margin-top: 130px;
}

.content-9 .heading h2 {
  text-align: center;
  color: #1e2d40;
  font-weight: 500;
  font-size: 1.2vw;
}
.content-9 .heading h1 {
  font-weight: 700;
  text-align: center;
  color: #1e2d40;
  font-size: 2.5vw;
  margin-top: 0;
}

.content-9 .row {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* asp swipper */
.swiper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  margin: 0;
}

.swiper-slide #img {
  width: 200px;
}

.swiper-pagination .swiper-pagination-bullet {
  color: white;
  background-color: #1e2d40;
}

@media (max-width: 800px) {
  .content-9 {
    width: 100%;
  }

  .content-9 .heading h2 {
    font-size: 13px !important;
    letter-spacing: 1px !important;
    font-weight: 700 !important;
    margin: 0 !important;
    color: #1e2d40 !important;
    text-transform: uppercase !important;
  }
  .content-9 .heading h1 {
    font-size: 20px;
    line-height: 32px;
    padding: 0;
    margin: 10px 0 0 0;
  }
  .swiper-slide {
    width: 200px;
  }
  .swiper {
    width: 100%;
    margin: 10px;
    height: 300px;
  }

  .swiper-slide #img {
    width: 9.5em;
  }
  .swiper-pagination .swiper-pagination-bullet {
    color: white;
    background-color: #1e2d40;
    margin-top: -5000px;
  }
}

/* end of content-9 */

.content-10 {
  margin-top: 130px;
  width: 100%;
  height: 80%;
}
.content-10 .heading h2 {
  text-align: center;
  color: #1e2d40;
  font-weight: 500;
  font-size: 1.2vw;
}
.content-10 .heading h1 {
  font-weight: 700;
  text-align: center;
  color: #1e2d40;
  font-size: 2.5vw;
  margin-top: 0;
}

.content-10 .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.content-10 .row .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  width: 400px;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
  padding: 15px 15px !important;
}

.content-10 .row .service-box #icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.content-10 .row .service-box h3 {
  color: #444444;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  font-size: calc(1.3rem + 0.6vw);
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.content-10 .row .service-box a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
  text-decoration: none;
}

.content-10 .row .service-box #arrow {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

/* Color and background settings */
.border-bottom-1 {
  border-bottom: 3px solid #2db6fa !important;
}

.icon-1 {
  color: #2db6fa;
  background: #dbf3fe;
}

.read-more-1 {
  color: #2db6fa;
}

.border-bottom-2 {
  border-bottom: 3px solid #f68c09 !important;
}

.icon-2 {
  color: #f68c09;
  background: #fde3c4;
}

.read-more-2 {
  color: #f68c09;
}

.border-bottom-3 {
  border-bottom: 3px solid #08da4e !important;
}

.icon-3 {
  color: #08da4e;
  background: #cffddf;
}

.read-more-3 {
  color: #08da4e;
}

.border-bottom-4 {
  border-bottom: 3px solid #e9222c !important;
}

.icon-4 {
  color: #e9222c;
  background: #fef7f8;
}

.read-more-4 {
  color: #e9222c;
}

.border-bottom-5 {
  border-bottom: 3px solid #b50edf !important;
}

.icon-5 {
  color: #b50edf;
  background: #f8e4fd;
}

.read-more-5 {
  color: #b50edf;
}

.border-bottom-6 {
  border-bottom: 3px solid #f51f9c !important;
}

.icon-6 {
  color: #f51f9c;
  background: #feecf7;
}

.read-more-6 {
  color: #f51f9c;
}

/* Hover effects */
.content-10 .row .service-box:nth-child(1):hover {
  background: #2db6fa;
}

.content-10 .row .service-box:nth-child(2):hover {
  background: #f68c09;
}

.content-10 .row .service-box:nth-child(3):hover {
  background: #08da4e;
}

.content-10 .row .service-box:nth-child(4):hover {
  background: #e9222c;
}

.content-10 .row .service-box:nth-child(5):hover {
  background: #b50edf;
}

.content-10 .row .service-box:nth-child(6):hover {
  background: #f51f9c;
}

.content-10 .row .service-box:hover #icon {
  background-color: #fff;
}

.content-10 .row .service-box:hover a {
  color: white;
}

.content-10 .row .service-box:hover h3 {
  color: white;
}

.content-10 .row .service-box:hover p {
  color: white;
}

/* Responsive styles */
@media (max-width: 800px) {
  .content-10 .heading h2 {
    text-align: center;
    color: #1e2d40;
    font-weight: 500;
    font-size: 0.9em;
  }
  .content-10 .heading h1 {
    font-weight: 700;
    text-align: center;
    color: #1e2d40;
    font-size: 1.5em;
    margin-top: 0;
  }

  .content-10 .row .service-box {
    transition: 0.3s;
  }

  .content-10 .row .service-box #icon {
    transition: 0.3s;
  }

  .content-10 .row .service-box h3 {
    transition: 0.3s;
  }

  .content-10 .row .service-box a {
    transition: 0.3s;
  }
}

/* end of content-10 */
footer {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

footer .row {
  display: flex;
  height: auto;

  flex-wrap: wrap;
  gap: 10px;
  margin: 50px;
}

footer .row div:nth-child(1) {
  padding: 10px;

  width: 40%;
}
footer .row div:nth-child(1) img {
  cursor: pointer;
  width: 10em;
  margin-bottom: 10px;
  padding: 10px;
}

footer .row div:nth-child(1) p {
  font-size: 1em;
  font-weight: 500;
  color: #1e2d40;
  font-family: "Nunito", sans-serif;
  line-height: 24px;
  padding: 10px;
}
footer .row .smedia {
  margin-bottom: 20px;
}

footer .row .smedia #icon {
  cursor: pointer;
  transition: 0.3s;
  font-size: 2em;
  color: rgba(1, 41, 112, 0.5);
}

footer .row .smedia #icon:hover {
  color: #1e2d40;
}

footer .row div:nth-child(2) {
  padding: 10px;
}

footer .row div:nth-child(2) h4 {
  font-size: 1.1em;
  font-weight: bold;
}

footer .row div:nth-child(2) ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .row div:nth-child(2) ul li {
  cursor: pointer;
  color: #013289;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.05em;
}

footer .row div:nth-child(2) ul li:hover {
  color: #1e2d40;
}

footer .row div:nth-child(3) {
  padding: 10px;
}

footer .row div:nth-child(3) h4 {
  position: relative;
  font-size: 1.1em;
  font-weight: bold;
}

footer .row div:nth-child(3) ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .row div:nth-child(3) ul li {
  cursor: pointer;
  color: #013289;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1.05em;
}

footer .row div:nth-child(3) ul li:hover {
  color: #1e2d40;
}

footer .row div:nth-child(4) {
  padding: 10px;
}

footer .row div:nth-child(4) a {
  text-decoration: none;
  color: #1e2d40;
  font-size: 1.3em;
}

footer .row div:nth-child(4) a:hover {
  color: #013289;
}

footer .row div:nth-child(4) h4 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

footer .row div:nth-child(4) ul {
  list-style: none;
  padding: 0;
}

footer .row div:nth-child(4) ul li {
  cursor: pointer;
  color: #1e2d40;

  font-weight: 500;
  font-size: 1em;
}

footer .row div:nth-child(4) ul span {
  color: black;
  font-size: 1.3em;
}

footer .row div:nth-child(4) ul li:hover {
  color: #013289;
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  footer {
    width: 100%;
    height: 700px;
    margin-top: 50px;
  }

  footer .row {
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
    gap: 10px;
  }

  footer .row div:nth-child(1) {
    width: 100%;
  }
  footer .row div:nth-child(1) img {
    font-size: 1em;
  }

  footer .row .smedia {
    margin-bottom: 20px;
  }

  footer .row .smedia #icon {
    cursor: pointer;
    transition: 0.3s;
    font-size: 2em;
    color: rgba(1, 41, 112, 0.5);
  }

  footer .row .smedia a {
    text-decoration: none;
  }

  footer .row .smedia #icon:hover {
    color: #1e2d40;
  }

  footer .row div:nth-child(2) h4 {
    font-size: 1em;
    font-weight: bold;
  }

  footer .row div:nth-child(2) ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  footer .row div:nth-child(2) ul li {
    cursor: pointer;
    color: #013289;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.1em;
  }

  footer .row div:nth-child(2) ul li:hover {
    color: #1e4030;
  }

  footer .row div:nth-child(3) h4 {
    font-size: 1em;
    font-weight: bold;
  }

  footer .row div:nth-child(3) ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  footer .row div:nth-child(3) ul li {
    cursor: pointer;
    color: #013289;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.1em;
  }

  footer .row div:nth-child(3) ul li:hover {
    color: #1e2d40;
  }

  footer .row div:nth-child(4) {
    padding: 10px;
  }

  footer .row div:nth-child(4) a {
    text-decoration: none;
    color: #1e2d40;
    font-size: 1.3em;
  }

  footer .row div:nth-child(4) a:hover {
    color: #013289;
  }

  footer .row div:nth-child(4) h4 {
    font-size: 1.1em;
    font-weight: bold;
  }

  footer .row div:nth-child(4) p {
    font-size: 0.9em;
  }

  footer .row div:nth-child(4) ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
  }

  footer .row div:nth-child(4) ul li {
    cursor: pointer;
    color: #1e2d40;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 0.9em;
  }

  footer .row div:nth-child(4) ul span {
    color: black;
    font-size: 1.1em;
  }

  footer .row div:nth-child(4) ul li:hover {
    color: #013289;
  }
}

/* end of footer */
